<div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @event, local: true) do |f| %>
       <% if event.errors.any? %>
    <div class="alert alert-danger">
      <% event.errors.full_messages.each do |message| %>
        <div> <%= message %> </div>
      <% end %>
    </div>
  <%end%>
        <div class="field">
          <h4>Create New Event</h4>
        </div>
        <div class="field">
          <%= f.label :event_name %>
          <%= f.text_field :event_name, class: 'form-control' %>
        </div>
        <div class="field mt-4">
          <%= f.text_area :description, size: '20x10', placeholder: 'Event Description', class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :venue %>
          <%= f.text_field :venue, class: 'form-control' %>
        </div>
        <div class="field mt-4">
          <%= f.label :event_date, "Event Date" %>
          <%= f.date_field :event_date, class: 'form-control' %>
        </div>
        <div class="field mt-4">
          <%= f.submit "Create New Event", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%
=begin%>
 <%= link_to "<< Back to Profile", root_path(Current_user.id), class: "mt-2" %> 
<%
=end%>
    </div>
  </div>
</div>
